body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f1faee;
  color: #457b9d;
  margin-top: 10px;
  margin-left: 15px;
}

h1, h2, h3 {
  font-family: 'Ibarra Real Nova', sans-serif;
  color: #e63946;
  padding: 5px;
}

h1 {
  font-size: 5em;
}

h2 {
  margin-left: 10px;
  font-size: 2.75em;
}

h3 {
  margin-left: 20px;
  font-size: 1.8em;
}

ul {
  font-size: 2em;
  padding: 10px;
  list-style-type: disc;
  background-color: #ffddd2;
  width: fit-content;
  align-content: left;
  border: solid #e63946 1px;
}

li {
  font-size: .6em;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d3557;
  padding: 4px;
  margin-left: 1.5em;
  width: 25em;
}

li:hover {
  border: solid #e63946 1px;
  border-radius: 7px;
}

p a {
  font-size: 1.25em;
  padding: 10px;
  margin-left: 1.5em;
  width: 70%;
}

#headerPhoto {
  width: 40%;
  height: auto;
}

footer {
  margin-top: 35px;
  background-color: #1d3557;
}

footer p {
  font-size: 10px;
  color: white;
}

footer a {
  font-size: 10px;
  color: white;
}

td {
  padding: 8px;
  border: solid #1d3557 1px;
}

