body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  color: #457b9d;
  background-color: whitesmoke;
  font-size: 20px;
}

header {
  background-color: #1d3557;
  width: 100%
}

header nav {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: space-around;
}

ul li {
  width: 960px;
}

nav ul li:nth-of-type(2) {
  margin-left: 35px;
}

ul li a img {
  width: 200px;
  height: auto;
} 

a {
  color: white;
  font-family: 'Ibarra Real Nova', sans-serif;
  font-size: 25px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main:first-child {
  width: 960px;
  height: 450px;
}

img {
  padding-top: 15px;
  padding-bottom: 15px;
}


h1 {
  font-size: 40px;
  font-weight: bold;
  background-color: whitesmoke;
  text-align: center;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Ibarra Real Nova', sans-serif;
  color: #e63946;
}

h2, h3 {
  padding-bottom: 15px;
  padding-top: 10px;
}

main section {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  width: 100%;
  margin-bottom: 15px;
}

main section ul {
  margin-left: 30px;
}

main #homePageBanner {
  margin: 0 auto;
  justify-content: center;
  background-color: rgb(222, 215, 201);
}

h2 {
  font-size: 36px;
}

article ul li {
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d3557;
  padding: 4px;
  list-style-type: disc;
}

article ul li:hover {
  border: solid #1d3557 1px;
  border-radius: 4px;
}

article img {
  width: 200px;
  height: auto;
}


footer {
  background-color: #1d3557;
  width: 100%;
  height: 60px;
  margin-top: 20px;
}

#tables table {
  margin: 15px;
}

td {
  padding: 8px;
  border: solid #1d3557 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d3557;
}

thead {
  font-size: 20px;
}

#store {
  padding-top: 15px;
}

#store article {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#store li:hover {
  border: none;
}

#store ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: 300px;
}

#store li {
  list-style-type: none;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}

#store h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

button {
  font-size: 26px;
  width: fit-content;
  height: fit-content;
  color: #e63946;
  background-color: whitesmoke;
  align-content: center;
  border: solid #1d3557 1px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

button:hover {
  background-color: #457b9d;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 20px;
}

.formDiv>* {
  margin: 4px;
}

#storeForm button {
  margin-top: 30px;
}

#storeForm {
  display: flex;
  justify-items: space-around;
  margin: 0 auto;
}

#storeForm>* {
  flex: 1;
}



